.about{
    padding: 130px 0 106px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about h3{
    font-family: 'Arial';
    font-size: 42px;
    font-weight: 900;
    line-height: 59.23px;
    text-align: center;
    padding: 20px 64px;
    background-color: rgba(0, 81, 159, 1);
    width: max-content;
    margin-bottom: 23px;
}

.about p{
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    max-width: 710px;
    margin-bottom: 48px;
}
.about .btn{
    background-color: transparent;
}

@media (max-width: 680px){
    .about h3{
        font-size: 24px;
        line-height: 33px;
    }
}

@media (max-width: 475px){
    .about{
        padding: 38px 0 61px;
    }
    .about h3{
        width: calc(100% + 30px);
        padding: 15px;
    }
    .about p{
        font-size: 14px;
        margin-bottom: 0;
    }
}